src/main/mule/case_study1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4338eafd-76c9-42b1-84a7-397ffd8f1748" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1d014a96-edd1-409a-8734-006b2c77c64e" basePath="${request.basepath}" >
		<http:request-connection host="${request.host}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a376bde3-7869-48f6-9d82-47a455e51d1f" file="config.yaml" />
	<flow name="case_study1Flow" doc:id="6398acfd-ad70-46ac-a668-575249d7aff8" >
		<http:listener doc:name="Listener" doc:id="ae741cff-e6ba-46ba-bf21-65d27ef6b1f1" config-ref="HTTP_Listener_config" path="/cs1"/>
		<http:request method="GET" doc:name="Request" doc:id="26f8feb3-3913-4435-9e15-7a61a37badfc" config-ref="HTTP_Request_configuration" path="${request.path}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"authtoken" : "c5e1d0e11e5f6496dee0c6493981b6d5"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6af0047e-231d-4b75-a213-f062db9be09e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5a03ac7d-6497-47b5-97ff-00a86add53c0" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="e0f71084-7d03-4ab1-94ed-e1d54e95599d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error" : error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="533d5863-f8d9-4007-9d6b-04182f39de86"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
